* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  background: #35363a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper .container {
  height: 500px;
  width: 400px;
  padding: 5px;
  background: #3b4043;
  margin-right: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
}
