* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  color: #fff;
  background: #35363a;
  padding-top: 10%;
  padding-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper .dropdown {
  margin-top: 5px;
  cursor: default;
  position: relative;
}

.dropdown .dropdown-content {
  font-size: 15px;
  min-width: 200px;
  background-color: #292a2d;
  position: absolute;  
  display: none;
}

.dropdown .dropdown-content p {
  padding: 10px 5px;
}

.dropdown .dropdown-content p:hover {
  padding: 10px 5px;
  background-color: rgb(65, 65, 65);
}

.dropdown:hover .dropdown-content{
    display: block;
}