* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home-page {
  background: #0c1117;
  font-family: Arial, Helvetica, sans-serif;
  height: 2000px;
}

.home-page .nav-bar {
  background: #22292e;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.home-page .nav-bar ul {
  display: inline-flex;
  color: #fff;
  margin: 25px 30px;
}

.home-page .nav-bar ul li {
  cursor: pointer;
  list-style: none;
  margin-right: 20px;
}

.home-page .nav-bar ul li:hover {
  color: #d9c06a;
}

.home-page .nav-bar .signup-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  top: 25px;
}

.home-page .banner {
  height: 70%;
  width: 80%;
  position: absolute;
  left: 100px;
  top: 25%;
}

.home-page .banner .app-text {
  width: 40%;
  color: #fff;
  float: left;
}

.home-page .banner .app-text h1 {
  font-size: 43px;
}

.home-page .banner .app-text p {
  margin-top: 20px;
  color: #919191;
  font-size: 13px;
  line-height: 25px;
}

.home-page .banner .app-toph {
  width: 50%;
  float: right;
}

.home-page .banner .app-toph img {
  width: 100%;
}
