.wrapper .container .user-item {
  height: 60px;
  background: #35363a;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 5px;
}

.wrapper .container .user-item .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #2d2d2d;
}

.wrapper .container .user-item .content {
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  color: #b4b8bb;
  position: relative;
  width: 83%;
}

.wrapper .container .user-item .content .msg {
  font-weight: normal;
  font-size: 13px;
}

.wrapper .container .user-item .content .heure {
  position: absolute;
  font-size: 12px;
  right: 0;
  bottom: 0;
}
