* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #81c644;
  font-family: Arial, Helvetica, sans-serif;
  height: 1000px;
}

.wrapper {
  margin-top: 10%;
}

.wrapper h1 {
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team {
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
}

.team .team-member {
  background: #fff;
  margin: 5px;
  width: 300px;
  padding: 20px;
  line-height: 26px;
  color: #8e8b8b;
  position: relative;
}

.team .team-member h3 {
  color: #81c644;
  font-size: 25px;
  margin-top: 60px;
  margin-bottom: 5px;
}

.team .team-member .role {
  color: #ccc;
  font-size: 12px;
  margin: 10px;
  text-transform: lowercase;
}

.team .team-member .team-image {
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.team .team-member .team-image img {
  height: 100px;
  width: 100px;
  padding: 10px;
}
